.about-container {
  max-width: 1250px;
  margin: auto;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  background-color: #fefefe;
}

.about-header {
  text-align: center;
  margin-bottom: 3rem;
}

.about-header h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  color: #2c3e50;
}

.about-footer {
  text-align: center;
  margin-top: 4rem;
  font-size: 0.9rem;
  color: #777;
}
