.homepage-container {
  max-width: 1250px;
  margin: auto;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  background-color: #fefefe;
}

.homepage-header {
  text-align: center;
  margin-bottom: 3rem;
}

.homepage-header h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  color: #2c3e50;
}

.homepage-buttons {
  margin-top: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.primary-btn {
  background-color: #007bff;
  color: white;
  margin-top: 2rem;
  display: inline-block;
  padding: 0.65rem 1.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.2s ease;
}
.primary-btn:hover {
  background-color: #2c92ff;
}

.secondary-btn {
  background-color: #6c757d;
  color: white;
  margin-top: 1rem;
  display: inline-block;
  padding: 0.65rem 1.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.2s ease;
}
.secondary-btn:hover {
  background-color: #838d96;
}

.leaderboard-round-heading {
  margin-right: 0.75rem;
}

.leaderboard-btn {
  background-color: #007bff;
  color: white;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.2s ease;
}
.leaderboard-btn:hover {
  background-color: #2c92ff;
}

.leaderboard2-btn {
  background-color: #6c757d;
  color: white;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.2s ease;
}
.leaderboard2-btn:hover {
  background-color: #838d96;
}

.leaderboard-buttons-box {
  display: flex;
  align-items: center;
}

.leaderboard-options {
  display: grid;
  grid-template-columns: 50% 50%;
}

.homepage-info,
.homepage-leaderboard {
  margin-bottom: 1.5rem;
}

.homepage-leaderboard table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.homepage-leaderboard th,
.homepage-leaderboard td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.homepage-footer {
  text-align: center;
  margin-top: 4rem;
  font-size: 0.9rem;
  color: #777;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
}

.info-container {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
}

.grid-span2 {
  grid-column: span 2;
}
